{{- $dir := .Get "dir" | default "gallery" -}}
{{- $imgs := .Page.Resources.Match (printf "%s/*" $dir) -}}

{{ if not $imgs }}
  <p><em>No images found in {{ $dir }}/*. Put images in content/about/{{ $dir }}/</em></p>
{{ else }}
  <div class="about-gallery">
    {{ range $imgs }}
      {{ $thumb := .Fit "900x900" }}
      <a class="about-gallery-item" href="{{ .RelPermalink }}" title="{{ .Name }}">
        <img
          src="{{ $thumb.RelPermalink }}"
          alt="{{ .Name }}"
          loading="lazy"
        />
      </a>
    {{ end }}
  </div>
{{ end }}