<section class="hero-section">
  <div class="container">

    <div class="hero-heading">
      <h1 class="hero-title">{{ .Site.Params.profileHeadline }}</h1>
      <p class="hero-tagline">{{ .Site.Params.profileTagline }}</p>
    </div>

    <div class="hero-grid">

      <div class="hero-left">
        {{ .Site.Params.profileShortbio | safeHTML }}
      </div>

      <div class="profile-photo-wrap">
        {{ $imgPath := .Site.Params.profilePhoto }}
        {{ with resources.Get $imgPath }}
          <img
            loading="lazy"
            src="{{ .RelPermalink }}"
            alt="Image of Author"
            class="profile-photo"
          >
        {{ end }}
      </div>

    </div>
  </div>
</section>


<!-- Project section -->
<section class="section-primary-bg">
  <div class="container">

    <div class="row mt-5">
      <div class="col-12 mb-4 text-center">
        <h2 class="fw-medium">Projects</h2>
        <p class="mt-0">
          A selection of client projects.
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      {{ $pag := .Paginate (where site.RegularPages "Type" "in" (slice "posts")) 3 }}
      {{ range $pag.Pages }}
        {{ partial "post_preview_card" . }}
      {{ end }}
    </div>

    <div class="row">
      <div class="col-12 mb-4 text-center">
        <a href="{{ "posts/" | relLangURL }}"
           class="link-underline position-relative d-inline-block">
          Browse all <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>

  </div>
</section>


<!-- NOTES SECTION -->
{{ range .Site.Sections }}
  {{ if eq .Section "notes" }}
  <section class="notes-section">
    <div class="container">

      <div class="row">
        <div class="col-12 mb-4 mt-4 text-center">
          <h2 class="fw-medium">Notes</h2>
          <p class="mt-0">
            A personal mix of poetry, reading notes, social media fragments, and curious reflections.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        {{ range first 3 (where site.RegularPages "Type" "in" (slice "notes")) }}
          {{ partial "post_preview_imgless_card" . }}
        {{ end }}
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <a href="{{ "notes/" | relLangURL }}"
             class="link-underline position-relative d-inline-block">
            Browse all <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>

    </div>
  </section>
  {{ end }}
{{ end }}